<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Logger levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] | %d{dd-MM-yyyy HH:mm:ss} | [%t] %C{6} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="ALL" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>

        <Logger level="DEBUG" name="it.uniroma2.pmcsn.simulation.simulator.Simulator" additivity="false">
            <AppenderRef level="INFO" ref="ConsoleAppender"/>
        </Logger>

        <Logger level="DEBUG" name="it.uniroma2.pmcsn.simulation.simulator.Event" additivity="false">
            <AppenderRef level="INFO" ref="ConsoleAppender"/>
        </Logger>
    </Loggers>

</Configuration>
